body{
    color:#000000;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    margin-bottom:0;
    margin-width:0;
    margin-height:0;
    background-color:#ffffff;
}

.text {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:20px;
color:000000;
padding:15px;
    line-height: 40px;
}

.centre {
}


a:link {
color:inherit;
text-decoration: none;
     font-weight: bold;
}

a:visited {
color:inherit;
text-decoration: none;
}

a:hover {
    color: #102040;
    text-decoration-style: solid;
}

a:active {
    color: #102040;
    text-decoration-style: solid;

} 

.buttons{
    text-align: center;
    height: 10%;
    vertical-align: middle;
}


.hidden{
    display:none;
}
textarea {  /* position is inherited */
     width: 100%;
    height : 90%;
    padding: 30px;
    resize : none;
	border: none;
    border-color:#777777    ;
    box-shadow: none;
    outline:0px /*!important;*/;
    -webkit-appearance:none;
    font-size: 20pt;
    font-family: Courier New;
}
 .slider{
     font-family: Courier New;   
    background-color: #aa9999;
    color: black;
    opacity:0.5;
    text-align: center;
    z-index: 5;
}

.CodeMirror {
    border: 0px solid gray; 
    font-size:24px;
    opacity:0.8;
    margin: auto;
    margin-top: 1%;
    
}

.left-shadow-overlay {
box-shadow: 3px 0 6px 3px gray;
}

.bottom{
    position:absolute;
    bottom:0;
    padding:0px;
    width:100%;
}

#side-tabs a.support {
	background-color:#997777;
    font-size: 30px;
    text-align: center;
    vertical-align:-40px;
    position:absolute;
    left: -35px;
	top: 20px;
	height: 60px;
	width: 35px;
	margin: 0;
	padding-top: 30px;
	display:block;
    /*z-index:9999;*/
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius:3px;
    border-top-right-radius: 3px;
}

.linkbox {
    /* Below are styles for the codebox (not the code itself) */
    border:1px solid black;
    background-color:#EEEEFF;
    width:90%;
    overflow:auto;    
    padding:10px;
}
.dialog-message{
    font-family: Courier New;   
    width:50%;
    margin:20px;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.ui-button-text{
    font-family: Courier New;   
    font-weight:normal;
    color:white;
    background: #333;
}

/*
.ui-state-hover{
    background-color:#333;
}

.ui-widget-overlay{
   background:#333;
    opacity:.5;
     z-index: 0;   
}
*/