
lib/data/*
node_modules/*
*.log
./public_html/js/localsetting.js
public_html/js/localsetting.js

public_html/js/localsetting.js

public_html/tindermusic/*

public_html/text-demo/*
public_html/pat_simplified/*

*.zip
